{% extends 'students/base.html' %}

{% load static %}

{% block title %} Список студентов {% endblock %}

{% block content %}

{% include 'students/header.html' %}
<h1>Список студентов</h1>
<ol class="list-group">
    {% for student in students %}
    <li class="list-group-item"> {{ student }}</li>
    <a class="btn btn-primary" href="{% url 'students:students_detail' student.pk %}">Подробнее</a>
    {% if perms.Students.can_promote_student %}
    <a class="btn btn-primary" href="{% url 'promote_student' student.pk %}">Перевести студента</a>
    {% endif %}
    {% if perm.Students.can_expel_student %}
    <a class="btn btn-danger" href="#">Отчислить студента</a>
    {end if %}
    {% endfor %}
</ol>
{% endblock %}
<!--{% url 'students:students_detail' students.pk %}-->